h1{
    font-size: 55px;
    font-style: italic;
    color:black;
}

h3{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

button{
    background-color: #5b96e3;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    border-radius: 30px;
}

body {
    background-color: #f4f1ea; /* Light parchment color */
    font-family: 'Georgia', serif;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #8b7355;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    width: 80%;
}

button:hover {
    background-color: #5d4d3a;
}

.row-container {
    display: flex;     
    flex-wrap: wrap;  
    gap: 20px;       
    justify-content: center; 
}

.card {
    width: 250px;      
    cursor: pointer;     
    transition: 0.2s;   
}

body {
    display: flex;          
    flex-direction: column; 
    align-items: center; 
    text-align: center;  
}

.row-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;         
}
